e


<div class="footer-container">
            
	<footer class="wrapper1" >
      <a>Stay Connected:</a>
	  <div>
              
              <a class=""link1" href="https://www.facebook.com/Jyothsna Reddy"style="font-size:2em"><i class="fa fa-facebook"></i></a>
             <a class=""link1" href="https://mail.google.com/mail/jyothsnapala"style="font-size:2em;color:red;&ensp"><i class="fa fa-google-plus"></i></a>
			 <a class=""link1" href="https://github.com/jyothsnareddy"style="font-size:2em;color:green"><i class="fa fa-github"></i></a>
			 <a class=""link1" href="https://bitbucket.org/jyothsna/"style="font-size:2em;color:white"><i class="fa fa-bitbucket"></i></a>
			 <a class=""link1" href="https://www.linkedin.com/nhome/?trk=style="font-size:2em"><i class="fa fa-"></i></a>
                <br><a>©2017 jyothsna pala</a>
			<br><a href="index.html/">Sitemap</a>
            </footer>
        </div>
</body>
</html>

