<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="/guestbook.css" >
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>

 <div class="navbar">
            <header >
                
				<h1 style="text-shadow: 4px 4px 4px #aaa;" class="title">Hello.....Welcome to my Page</h1>
                <nav class="navbar navbar-deafult">
                    <ul class="nav nvabar-nav">
                       	
						<li><a class="navbar-brand" href="http://127.0.0.1:8081/index.html"> Home</a></li>
                        <li><a class="navbar-brand" style="text-shadow: 4px 4px 4px #aaa;" href="http://127.0.0.1:8081/Order.html">your choice</a></li>
                        <li><a class="navbar-brand" href="http://127.0.0.1:8081/Contact.html"> Contact</a></li>
                        <li><a class="navbar-brand" href="http://127.0.0.1:8081/index"> guestbook</a></li>
                        
                    </ul>
                </nav>
            </header>
        </div>
<body class="container">
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
