
.form1 {
	 width: 100%;
    margin: 0 auto;
    position: none;
}
.button {
    background-color: white;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    border: 2px solid #48C9B0;
    padding: 20px;
    width: 150px;
    height: 50px;
    left: 130px;
}
hr{ display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
border-width: 1px;}

legend {
    font-size: 25px;
    text-align: ;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.links1{display:inline;}

.footer-container,
.main aside {
    border-top: 20px solid #00bfff;
	text-align: left;
margin: 0px 0px 0px 0px;
font-family: arial, helvetica;
font-weight: bold ;
font-size: 11px;
background-color: black;
}
.header-container,
.footer-container,
.main aside {
    background:blue;
}
